* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'DM Sans', sans-serif;
}

/* Reset CSS Start ----------------------------------------------*/
a {
    color: inherit;
    text-decoration: none;
}

button,
input,
textarea {
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
}

button:focus,
button:active,
input:focus,
input:active,
textarea:focus,
textarea:active {
    outline: none;
    box-sizing: none;
}

ul,
ol,
li {
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
}

p {
    font-size: 16px;
    line-height: 1.5;
    color: #2B292D;
    letter-spacing: -0.01em;
}

.fill-button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: 700;
    line-height: 1.6;
    width: 140px;
    height: 48px;
    color: #fff;
    background-color: #3040C4;
    transition: opacity 300ms ease-in-out;
}

.fill-button.inverted {
    color: #3040C4;
    background-color: #fff;
}

.fill-button:first-child {
    margin-right: 8px;
}

.fill-button:hover {
    opacity: 0.5;
}


/* Landing ********************************************/
.landing {
    background-color: #FDDED8;
    text-align: center;
}

.landing-content {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.landing-title {
    margin-bottom: 24px;
    font-size: 40px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: -0.05em;
}

.landing-desc {
    margin-bottom: 24px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.375;
}

.button-group {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.fill-button:first-child {
    margin-right: 16px;
}

/* > 768px (Desktop) */
@media screen and (min-width:768px) {
    /* Reset CSS */
    p {
        font-size: 22px;
        line-height: 1.3636363636;
    }

    .landing-title {
        font-size: 70px;
        line-height: 1.02811;
        margin-bottom: 32px;
    }

    .landing-desc {
        margin-bottom: 32px;
    }

    .fill-button {
        width: 160px;
        height: 56px;
        font-size: 18px;
    }

    .service-title {
        font-size: 26px;
        line-height: 1.307;
        letter-spacing: -0.04em;
    }

    .service-desc {
        font-size: 22px;
        line-height: 1.4545454545;
        letter-spacing: -0.01em;
    }

}

/* Service *********************************************/

.service {
    padding: 80px 0;
    background-color: #F4F5F7;

}

.service .col-12:first-child {
    margin-bottom: 40px;
}

.service-title {
    margin-bottom: 16px;
    font-size: 22px;
    font-weight: 700; 
    line-height: 1.363636363636;
    letter-spacing: -0.04em;
    color: #2B292D;
}

/* .service-title {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */

.service desc {
    margin-bottom: 40px;
}


/* Reset Css Finish ---------------------------------------------*/

/* Custom Grid System - Fix container width */
@media screen and (min-width: 1200px){
    .container {
    max-width: 960px;
    }
}

